{% extends 'layout.html' %}

{% block title %}
    LOGEADO
{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register_login.css') }}">
{% endblock %}

{% block body %}
<div class="container_form">
    <h1>Logeo exitoso!</h1>
    <h1> {{ current_user.nombre }}</h1>
    <h1>{{ current_user.password }}</h1>
    <h1>{{ current_user.email }}</h1>
    <h1>{{ current_user.id }}</h1>
    <h1>{{ current_user.user }}</h1>
    <div class="logout_button">
        <a href="{{ url_for ('logout') }}">Cerrar Sesión</a>
    </div>
</div>
{% endblock %}