{% extends 'layout.html' %}

{% block title %}
    PRODUCTOS
{% endblock %}

{% block customCSS %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tabla_usuarios.css') }}">
{% endblock %}
{% block body %}
    <main class="table" id="customers_table">
        <section class="table__header">
            <h1 style="color: white;">Productos</h1>
            <div class="input-group">
                <input type="search" placeholder="Buscar datos...">
                <img src="/static/img/lupa.png" alt="">
            </div>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th class="header-text"> Id <span class="icon-arrow">&UpArrow;</span></th>
                        <th class="header-text"> Nombre <span class="icon-arrow">&UpArrow;</span></th>
                        <th class="header-text"> Descripcion <span class="icon-arrow">&UpArrow;</span></th>
                        <th class="header-text"> Precio <span class="icon-arrow">&UpArrow;</span></th>
                        <th class="header-text"> Status <span class="icon-arrow">&UpArrow;</span></th>
                        <th class="header-text"> Acciones </th>
                    </tr>
                </thead>
                <tbody>

                    {% for producto in products %}
                        <tr>
                            <td> {{ producto.id }} </td>
                            <td> 
                                <img src="{{ url_for('static', filename='products_pictures/' + producto.product_pic) }}" alt="Profile Picture">
                                {{ producto.nombre }} </td>
                            <td> {{ producto.descripcion }} </td>
                            <td> {{ producto.precio }} </td>
                            <td>
                            {% if producto.status == 1 %}
                                <div class="status-box red">Comprado</div>
                            {% else %}
                                <div class="status-box green">Disponible</div>
                            {% endif %}
                            </td>
                            <td>
                                {% if current_user.id != 1 %}

                                {% if producto.status == 1 %}
                                    <a href="#" class="status-box red">No disponible</a>
                                {% else %}
                                    {% if current_user.id == producto.user_id %}
                                        <a href="#" class="status-box red">No disponible</a>
                                    {% else %}
                                        <a href="/buy_product/{{producto.id}}" class="btn-update">Comprar</a>
                                    {% endif %}
                                {% endif %}

                                {% else %}
                                <a href="/update_product/{{producto.id}}" class="btn-update">Actualizar</a>
                                <a href="/delete_product/{{producto.id}}" class="btn-delete">Borrar</a>

                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
    
    <script src="{{ url_for('static', filename='js/tabla_usuarios.js') }}"></script>
{% endblock %}

