{% extends 'layout.html' %}

{% block title %}
    Register
{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register_login.css') }}">
{% endblock %}

{% block body %}
<div class="container_form">
    <form action="#">
        <h1>Register</h1>
        <div class="inputs_container">
            <h3>NOMBRE COMPLETO</h3>
            <input type="text" placeholder="Nombre Completo" required>
        </div>
        <div class="inputs_container">
            <h3>USUARIO</h3>
            <input type="text" placeholder="Usuario" required>
        </div>
        <div class="inputs_container">
            <h3>E-MAIL</h3>
            <input type="email" placeholder="E-mail" required>
        </div>
        <div class="inputs_container">
            <h3>CONTRASEÑA</h3>
            <input type="password" placeholder="Contraseña" required>
        </div>
        <div class="inputs_container">
            <h3>CONFIRMAR CONTRASEÑA</h3>
            <input type="password" placeholder="Contraseña" required>
        </div>
        

        <button type="submit" class="btn">Registrar</button>
    </form>
</div>
{% endblock %}
    